<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app>
<servlet>
<servlet-name>RateController</servlet-name>
<servlet-class>com.event.controller.RateController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RateController</servlet-name>
<url-pattern>/rate</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserController</servlet-name>
<servlet-class>com.event.controller.UserController</servlet-class>
</servlet>

<servlet>
<servlet-name>AdminController</servlet-name>
<servlet-class>com.event.controller.AdminController</servlet-class>
</servlet>

<servlet>
<servlet-name>EventController</servlet-name>
<servlet-class>com.event.controller.EventController</servlet-class>
</servlet>

<servlet>
<servlet-name>LoginController</servlet-name>
<servlet-class>com.event.controller.LoginController</servlet-class>
</servlet>

<servlet>
<servlet-name>LoginControllerAdmin</servlet-name>
<servlet-class>com.event.controller.LoginControllerAdmin</servlet-class>
</servlet>

<servlet>
<servlet-name>LogoutController</servlet-name>
<servlet-class>com.event.controller.LogoutController</servlet-class>
</servlet>



<servlet-mapping>
<servlet-name>EventController</servlet-name>
<url-pattern>/registerEvent</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>AdminController</servlet-name>
<url-pattern>/inputAdmin</url-pattern>
</servlet-mapping>



<servlet-mapping>
<servlet-name>UserController</servlet-name>
<url-pattern>/inputUser</url-pattern>
</servlet-mapping>



<servlet-mapping>
<servlet-name>LogoutController</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>LoginControllerAdmin</servlet-name>
<url-pattern>/loginAdmin</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>LoginController</servlet-name>
<url-pattern>/loginUser</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>EditEventController</servlet-name>
<servlet-class>com.event.controller.EditEventController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>EditEventController</servlet-name>
<url-pattern>/edit</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteEventController</servlet-name>
<servlet-class>com.event.controller.DeleteEventController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteEventController</servlet-name>
<url-pattern>/Delete</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>default.jsp</welcome-file>
</welcome-file-list>


</web-app>
</element>
